{% extends 'base.html.twig' %}
{% block body %}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <h3>Trenerzy obok Ciebie</h3>
    <div id="map"></div>
    <script>
        function initMap() {

            var startPosition = {lat: 51.7511912, lng: 19.4003610};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: startPosition
            });

            {% for point in points %}
                    marker = new google.maps.Marker({
                        position: {lat: {{ point.lat }}, lng: {{ point.lng }}},
                        map: map,
                        label: '{{ point.label }}',
                        icon: '{{ asset(point.icon) }}'
                    });
            {% endfor %}

            {#var marker = new google.maps.Marker({#}
                {#position: {lat: 51.7520000, lng: 19.4000000},#}
                {#map: map,#}

                {#label: 'Andrzej Maszewski (body-building)',#}
            {#});#}
            {#var marker1 = new google.maps.Marker({#}
                {#position: {lat: {{ lat }}, lng: {{ lng }}},#}
                {#map: map,#}
                {#label: 'Daniel Omielanczuk (mma)',#}
                {#icon: '{{ asset('img/marker1.png') }}',#}
            {#});#}
            {#var marker2 = new google.maps.Marker({#}
                {#position: {lat: 51.7510000, lng: 19.4010000 },#}
                {#map: map,#}
                {#label: 'Hubert Pomorski (krav maga)',#}
            {#});#}

            {#var marker2 = new google.maps.Marker({#}
                {#position: latLng,#}
                {#map: map,#}
                {#label: 'You',#}
            {#});#}

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYXurjnfVmbGirz8FZ9dC-my0WnWXGMIc&callback=initMap">
    </script>
{% endblock %}
